<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqv5.soccer.mapper.SysAuthMapper">
    <resultMap id="baseMap" type="com.dqv5.soccer.table.SysAuthTable">
    </resultMap>
    <resultMap id="pojoMap" type="com.dqv5.soccer.pojo.SysAuth">
    </resultMap>
    <select id="queryByRoleId" resultMap="baseMap">
        select t.*
        from sys_auth t
                 join sys_role_auth ra on ra.auth_id = t.auth_id
        where ra.role_id = #{roleId}
    </select>
    <select id="queryByUserId" resultMap="baseMap">
        select distinct *
        from (select t.*
              from sys_auth t
                       join sys_role_auth ra on ra.auth_id = t.auth_id
                       join sys_user_role ur on ur.role_id = ra.role_id
              where ur.user_id = #{userId}) a
    </select>
    <select id="queryList" resultMap="pojoMap">
        select t.*,
               f.auth_folder_name,
               u1.nick_name as created_nick_name,
               u2.nick_name as last_modified_nick_name
        from sys_auth t
                 left join sys_auth_folder f on f.auth_folder_id = t.auth_folder_id
                 left join sys_user u1 on t.created_by = u1.user_id
                 left join sys_user u2 on t.last_modified_by = u2.user_id
        <where>
            <if test="param.authName!=null">and t.auth_name like '%'||#{param.authName}||'%' </if>
            <if test="param.authValue!=null">and t.auth_value like '%'||#{param.authValue}||'%' </if>
            <if test="param.authFolderName!=null">and f.auth_folder_name like '%'||#{param.authFolderName}||'%' </if>
        </where>
        order by t.display_index
    </select>
</mapper>
