<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqv5.soccer.mapper.SysAuthMapper">
    <resultMap id="baseMap" type="com.dqv5.soccer.table.SysAuthTable">
    </resultMap>
    <select id="queryByRoleId" resultMap="baseMap">
        select t.*
        from sys_auth t
                 join sys_role_auth ra on ra.auth_id = t.auth_id
        where ra.role_id = #{roleId}
    </select>
    <select id="queryByUserId" resultMap="baseMap">
        select distinct *
        from (select t.*
              from sys_auth t
                       join sys_role_auth ra on ra.auth_id = t.auth_id
                       join sys_user_role ur on ur.role_id = ra.role_id
              where ur.user_id = #{userId}) a
    </select>
</mapper>
