<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqv5.soccer.mapper.SysMenuMapper">
    <resultMap id="baseMap" type="com.dqv5.soccer.table.SysMenuTable">
    </resultMap>
    <select id="queryByRoleId" resultMap="baseMap">
        select t.*
        from sys_menu t
                 join sys_role_menu rm on rm.menu_id = t.menu_id
        where rm.role_id = #{roleId}
    </select>
    <select id="queryByUserId" resultMap="baseMap">
        select distinct *
        from (select t.*
              from sys_menu t
                       join sys_role_menu rm on rm.menu_id = t.menu_id
                       join sys_user_role ur on ur.role_id = rm.role_id
              where ur.user_id = #{userId}) a
        order by a.display_index
    </select>
</mapper>
