<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button *aclIf="AuthValue.SYS_USER_INSERT" (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <as-split direction="horizontal">
    <as-split-area [size]="25">
      <div>
        <nz-tree nzExpandAll [nzData]="deptTreeNodes" (nzClick)="onDeptClick($event)"></nz-tree>
      </div>
    </as-split-area>
    <as-split-area [size]="75">
      <div>
        <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
        <st #st [data]="url" [res]="{reName:{total:'data.total',list:'data.list'}}" [columns]="columns"></st>
      </div>
    </as-split-area>
  </as-split>

</nz-card>
