<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button *aclIf="AuthValue.SYS_MENU_INSERT" (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
  <nz-table #expandTable [nzLoading]="loading" [nzData]="listOfMapData" nzTableLayout="fixed">
    <thead>
    <tr>
      <th>菜单名称</th>
      <th>菜单编码</th>
      <th>链接</th>
      <th>外部链接</th>
      <th>图标</th>
      <th>排序</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.menuId]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
              [nzIndentSize]="item.level! * 20"
              [nzShowExpand]="!!item.children && item.children.length>0"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.menuId], item, $event)"
          >
            {{ item.menuName }}
          </td>
          <td>{{ item.menuCode }}</td>
          <td>{{ item.link }}</td>
          <td>{{ item.externalLink }}</td>
          <td>{{ item.icon }}</td>
          <td>{{ item.displayIndex }}</td>
          <td>
            <a nz-button nzType="link" (click)="edit(item)" *aclIf="AuthValue.SYS_MENU_UPDATE">编辑</a>
            <a nz-button nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="确定要删除吗？"
               (nzOnConfirm)="delete(item)" *aclIf="AuthValue.SYS_MENU_DELETE">删除</a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</nz-card>
