<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 关闭缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 开启驼峰功能映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 允许JDBC支持生成的键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
    </settings>
</configuration>
