<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable [nzData]="data">
    <thead>
    <tr>
      <th nzWidth="40%">模块名称</th>
      <th nzWidth="30%">URL</th>
      <th>类型</th>
      <th>层级</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <ng-template ngFor let-item [ngForOf]="expandDataCache[data.id]">
        <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
          <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.id],item,$event)">
            {{item.name}}
          </td>
          <td>{{item.url}}</td>
          <td>{{item.type}}</td>
          <td>{{item.levelNo}}</td>
        </tr>
      </ng-template>
    </ng-template>
    </tbody>
  </nz-table>
</nz-card>
