<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dqv5.soccer.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.dqv5.soccer.entity.SysRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="protect" property="protect" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
        <collection property="modules" column="id" select="selectRoleModules"></collection>
    </resultMap>
    <resultMap id="RoleModuleMap" type="com.dqv5.soccer.entity.SysRoleModule">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
        <result column="perm_value" property="permValue"/>
    </resultMap>

    <select id="findList" resultMap="BaseResultMap">
        SELECT * FROM sys_role
    </select>
    <select id="selectRoleModules" parameterType="int" resultMap="RoleModuleMap">
        SELECT * FROM sys_role_module  where role_id = #{roleId}
    </select>
    <select id="findListByUser" resultMap="BaseResultMap" parameterType="int">
        SELECT r.id,r.role_name FROM basic_user_role t
        join sys_role r on t.role_id = r.id
        where t.user_id=#{userId}
    </select>
    <select id="findOne" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM sys_role where id = #{id}
    </select>
    <insert id="insert" parameterType="com.dqv5.soccer.entity.SysRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role(role_name,create_time)
        values (#{roleName},now())
    </insert>
    <insert id="update" parameterType="com.dqv5.soccer.entity.SysRole">
        update sys_role
        <set>
            <if test="roleName!=null">role_name = #{roleName} ,</if>
            last_modified_time=now()
        </set>
        where id=#{id}
    </insert>
    <delete id="delete" parameterType="int">
         delete  FROM sys_role where id = #{id}
    </delete>


    <insert id="insertRoleModule" parameterType="com.dqv5.soccer.entity.SysRoleModule" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_role_module(role_id,module_id,perm_value)
        values (#{roleId},#{moduleId},#{permValue})
    </insert>
    <delete id="deleteModules" parameterType="int">
         delete  FROM sys_role_module where role_id = #{roleId}
    </delete>


</mapper>
