<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">{{ app.name }}</span>
      </div>
      <div class="desc">{{ app.description }}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2022
      <a href="//github.com/duqian42707" target="_blank">duqian</a>
    </global-footer>
  </div>
</div>
