<div class="modal-header">
  <div class="modal-title">编辑模块信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<form nz-form [formGroup]="form" *ngIf="i" [nzLayout]="'vertical'">
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="6" nzRequired>名称</nz-form-label>
    <nz-form-control nzXs="24" nzSm="14">
      <input autocomplete="off" nz-input formControlName="name" id="name">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="6">URL</nz-form-label>
    <nz-form-control nzXs="24" nzSm="14">
      <input autocomplete="off" nz-input formControlName="url" id="url">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="6">上级模块</nz-form-label>
    <nz-form-control nzXs="24" nzSm="14">
      <nz-tree-select
        style="width: 250px"
        [nzDefaultExpandedKeys]="[]"
        [nzNodes]="parentList"
        nzShowSearch
        nzPlaceHolder="请选择"
        formControlName="parentId">
      </nz-tree-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="6">顺序号</nz-form-label>
    <nz-form-control nzXs="24" nzSm="14">
      <input autocomplete="off" nz-input formControlName="orderNo" id="orderNo">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="6">样式</nz-form-label>
    <nz-form-control nzXs="24" nzSm="14">
      <input autocomplete="off" nz-input formControlName="icon" id="icon">
    </nz-form-control>
  </nz-form-item>
</form>
<div class="modal-footer">
  <button nz-button class="ml-sm" (click)="close()">关闭</button>
  <button nz-button nzType="primary" type="submit" [nzLoading]="submitting" (click)="save()">提交</button>
</div>
