<page-header></page-header>
<nz-card>
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="基本配置">
      <sf #basicForm mode="edit" [schema]="basicSchema" [ui]="basicUi" [formData]="basicData" button="none">
        <button nz-button type="submit" nzType="primary" (click)="saveBasic(basicForm.value)"
                [disabled]="!basicForm.valid" [nzLoading]="http.loading">保存
        </button>
      </sf>
    </nz-tab>
    <nz-tab nzTitle="系统管理">
      <button nz-button nzDanger nz-popconfirm nzPopconfirmTitle="将清空当前系统所有数据并重新初始化，确定吗？"
              nzType="primary" [nzLoading]="loading" (nzOnConfirm)="reInitData()">重置数据
      </button>
    </nz-tab>
  </nz-tabset>
</nz-card>
