<div class="modal-header">
  <div class="modal-title">查看用户信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<desc-list *ngIf="i" col="1" size="small">
  <desc-list-item term="主键">{{ i.id }}</desc-list-item>
  <desc-list-item term="头像"><nz-avatar nzIcon="anticon anticon-user" [nzShape]="'square'" nzSrc="{{ i.avatarUrl }}"></nz-avatar></desc-list-item>
  <desc-list-item term="OPENID">{{ i.openId }}</desc-list-item>
  <desc-list-item term="昵称">{{ i.nickName}}</desc-list-item>
  <desc-list-item term="称呼">{{ i.title }}</desc-list-item>
  <desc-list-item term="性别">{{ i.sex}}</desc-list-item>
  <desc-list-item term="地址">{{ i.address}}</desc-list-item>
  <desc-list-item term="语言">{{ i.language}}</desc-list-item>
  <desc-list-item term="上次使用时间">{{ i.lastLoginTime|date:"yyyy-MM-dd HH:mm" }}</desc-list-item>
</desc-list>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
