<div class="aside-inner">
  <nz-dropdown nzTrigger="click" class="user-block clearfix">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar [nzIcon]="'user'" [nzSrc]="settings.user.avatar" class="avatar mr-sm"></nz-avatar>
      <div class="info">
        <strong>{{settings.user.name}}</strong>
        <p class="text-truncate mb0">{{settings.user.email}}</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item (click)="router.navigateByUrl('/sys/profile')"><i class="anticon anticon-user mr-sm"></i>个人资料</li>
      <li nz-menu-item [nzDisabled]="true" (click)="msgSrv.success('settings')"><i class="anticon anticon-setting mr-sm"></i>设置</li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="msgSrv.success('logout')"><i class="anticon anticon-logout mr-sm"></i>登出</li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
